* {
    box-sizing:border-box;
    padding:0;
    margin:0;
}

body {
    background:url(../images/soroban.png);
    width:1024px;
    height:768px;
    background-repeat: no-repeat;
    background-color:black;
}

.rod {
    position: absolute;
}

.bead {
    width:58px;
    height:47px;
    position:absolute;
    background:url(../images/bead.png);
    bottom:0px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    body {
        background:url(../images/soroban@2x.png);
        background-size: 1024px 768px;
        background-repeat: no-repeat;
        background-color:black;
    }
    .bead {
        background:url(../images/bead@2x.png);
        background-size: 58px 47px;
    }
}
